/*estatus pendiente*/
div#status:hover {

    box-shadow: 0px 0px 20px #efae3e;
}
div#status {
  margin-left: 170px !important;
    margin-top: -22px!important;
    margin-bottom: 14px!important;
  width: 28px!important;
  height: 28px!important;
  background-color: #ffff0e!important;
  border-color: #fded22!important;
  border-radius: 737px;
}

/*estatus proceso*/
div#status2:hover {

  box-shadow: 0px 0px 20px #20f5f1;
}
div#status2 {
margin-left: 170px !important;
  margin-top: -22px!important;
  margin-bottom: 14px!important;
  width: 28px!important;
  height: 28px!important;
  background-color: #20f5f1!important;
  border-color: #13aeeb!important;
  border-radius: 737px;
}
/*estatus esperando usuario*/
div#status3:hover {

  box-shadow: 0px 0px 20px #18f11b;
}
div#status3 {
  margin-left: 238px !important;
    margin-top: -22px!important;
    margin-bottom: 14px!important;
  width: 28px!important;
  height: 28px!important;
  background-color: #18f11b!important;
border-color: #155e22!important;
border-radius: 737px;
}
/*estatus cerrado*/
div#status4:hover {

  box-shadow: 0px 0px 20px #fff;
}
div#status4 {
  margin-left: 170px !important;
    margin-top: -22px!important;
    margin-bottom: 14px!important;
  width: 28px!important;
  height: 28px!important;
  background-color: #afafaf!important;
  border-color: #ffff!important;
border-radius: 737px;
}
